.container {
  // padding-top: 80px;

  .lunbo {
    height: 600px;

    .lunbo1 {
      background-image: url('/lunbotu1.png');
      position: relative;

      p {
        position: absolute;
        top: 40%;
        left: 20px;
        font-size: 30px;
        font-weight: bold;
        text-shadow: 3px 3px 4px rgba(0, 0, 0, 55.7%);
        color: rgb(154, 190, 245);
        // background: linear-gradient(0deg,#4d86ff 25.90332%,#00b4ff);
        // -webkit-background-clip: text;
        // -webkit-text-fill-color: transparent;
      }
    }

    .lunbo2 {
      background-image: url('/lunbotu2.jpg');
    }

    .lunbo3 {
      background-image: url('/lunbotu3.jpg');
    }

    .lunbo1,
    .lunbo2,
    .lunbo3 {
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      background-attachment: fixed;
      width: 100%;
      height: 600px;
    }
  }

  .nav {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .navCard {
    display: inline-block;
    margin: 20px 5px;
    flex: 0 1 1;

    :global {
      .ant-card-bordered .ant-card-cover {
        min-height: 200px !important;

        // opacity: 0;
        img {
          height: 200px;
        }

        // &:hover{
        //   opacity: 1;

        // }
      }

      .ant-card-meta-title {
        font-size: 18px;
      }

      .ant-card .ant-card-meta-description {
        height: 66px;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
  }

  h1 {
    margin: 20px 0;
    font-weight: bold;
    // color: #3a3939;
    background: linear-gradient(0deg, #6eb0e6 25.9%, rgb(52, 136, 180));
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  h2 {
    font-weight: 600;
  }

  .techContent {
    display: flex;
    justify-content: center;
    align-items: center;
    // width: 100%;
    padding: 10px;
  }

  .descCrad,
  .tupucard,
  .wairecard,
  .netcard {
    padding: 20px;
    display: inline-block;
    margin: 0 5px;
    width: 100%;
    height: 250px;
    background: no-repeat top right / 70% 100%;
    background-color: white;
    overflow: hidden;
    background-image: linear-gradient(
        to right,
        rgba(255, 255, 255, 100%),
        rgba(255, 255, 255, 0%)
      ),
      url('/shixumoxin.png');
    border-radius: 5px;
    text-overflow: ellipsis;

    &:hover {
      box-shadow: 0 1px 2px -2px rgba(0, 0, 0, 16%),
        0 3px 6px 0 rgba(0, 0, 0, 12%), 0 5px 12px 4px rgba(0, 0, 0, 9%);
    }

    p {
      color: rgb(82, 82, 82);
      line-height: 26px;
      font-size: 15px;
      width: 40%;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .tupucard {
    // background-color: white;
    background: white no-repeat top right / 60% 100%;
    background-image: linear-gradient(
        to right,
        rgba(255, 255, 255, 100%),
        rgba(255, 255, 255, 10%)
      ),
      url('/tupu.png');
  }

  .wairecard {
    background-image: linear-gradient(
        to right,
        rgba(255, 255, 255, 100%),
        rgba(255, 255, 255, 0%)
      ),
      url('/yichangjiance.jpg');
  }

  .netcard {
    background-image: linear-gradient(
        to right,
        rgba(255, 255, 255, 100%),
        rgba(255, 255, 255, 0%)
      ),
      url('/pinn.jpg');
  }

  .case {
    position: relative;
    padding-left: 700px;
    height: 400px;
    margin-bottom: 25px;

    .left {
      position: absolute;
      top: 0;
      left: 0;
      width: 700px;
      height: 400px;

      // display: inline-block;
      video {
        width: 700px;
        height: 400px;
      }

      img {
        width: 1000px;
        height: 400px;
      }
    }

    .right {
      width: auto;
      height: 400px;
      min-width: 480px;
      background-color: #3488b4;
      padding-left: 20px;
      padding-right: 50px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;

      .name {
        color: #fff;
        font-weight: 400;
        font-size: 22px;
        margin-bottom: 20px;
      }

      .detail {
        color: #fff;

        p {
          line-height: 26px;
        }
      }

      button {
        margin: 0 5px;
        border-radius: 50px;
        color: #3488b4;
      }
    }
  }
}
