.container {
  // padding-top: 80px;

  .lunbo {
    height: 600px;

    .lunbo1 {
      background-image: url('/lunbotu1.png');
    }

    .lunbo2 {
      background-image: url('/lunbotu2.jpg');
    }

    .lunbo3 {
      background-image: url('/lunbotu3.jpg');
    }

    .lunbo1,
    .lunbo2,
    .lunbo3 {
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      background-attachment: fixed;
      width: 100%;
      height: 600px;
    }
  }

  .nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .navCard {
    display: inline-block;
    margin: 20px 10px;
    flex: 0 1 1;

    :global {
      .ant-card-bordered .ant-card-cover {
        min-height: 200px !important;

        img {
          height: 200px;
        }
      }
    }
  }
}
